<h2> Regions and Districts of Uganda known for Homicides,Economic, Sex, and Child Related crimes in 2021</h2>

In this lab you are to prepare the data for analysis using geopy, geocoder and geopandas python packages to show the locations of police regins_districs where these crimes were reported in the entire Uganda Map. Include pointers for most polar cimes regions.

<b> By Michael Kumakech</b>

In [29]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df =pd.read_csv("crime_uganda.csv", encoding = "latin1")
df.head()

,REGIONS_DISTRICTS,HOMICIDES,ECONOMIC_CRIMES,SEX_RELATED_OFFENCES,CHILD_RELATED_OFFENCES
0,C.I.D Headquarters,3,491,13,4.0
1,S.I.D,2,49,1,NaN
2,Aviation Police,1,47,7,NaN
3,C.I.D,5,588,21,4.0
4,Jinja Road,20,320,116,9.0

In [3]:
df.tail()

,REGIONS_DISTRICTS,HOMICIDES,ECONOMIC_CRIMES,SEX_RELATED_OFFENCES,CHILD_RELATED_OFFENCES
176,BUSOGA EAST,228,363,773,513.0
177,Jinja,55,269,138,362.0
178,Buwenge,20,58,84,31.0
179,Kakira,27,21,46,48.0
180,KIIRA,102,348,268,442.0

In [4]:
df.shape

(181, 5)

In [5]:
df.dtypes

REGIONS_DISTRICTS          object
HOMICIDES                   int64
ECONOMIC_CRIMES             int64
SEX_RELATED_OFFENCES        int64
CHILD_RELATED_OFFENCES    float64
dtype: object

<h2> Clean the data</h2>

<b>1. Check the missing data<b>

In [6]:
import numpy as np

# replace "?" to NaN
df.replace("", np.nan, inplace = True)
df.head(5)

,REGIONS_DISTRICTS,HOMICIDES,ECONOMIC_CRIMES,SEX_RELATED_OFFENCES,CHILD_RELATED_OFFENCES
0,C.I.D Headquarters,3,491,13,4.0
1,S.I.D,2,49,1,NaN
2,Aviation Police,1,47,7,NaN
3,C.I.D,5,588,21,4.0
4,Jinja Road,20,320,116,9.0

<b> Evaluation for missing data </b>

In [7]:
missing_data = df.isnull()
missing_data.head(5)

,REGIONS_DISTRICTS,HOMICIDES,ECONOMIC_CRIMES,SEX_RELATED_OFFENCES,CHILD_RELATED_OFFENCES
0,False,False,False,False,False
1,False,False,False,False,True
2,False,False,False,False,True
3,False,False,False,False,False
4,False,False,False,False,False

In [8]:
missing_data = df.isnull()
missing_data.tail(5)

,REGIONS_DISTRICTS,HOMICIDES,ECONOMIC_CRIMES,SEX_RELATED_OFFENCES,CHILD_RELATED_OFFENCES
176,False,False,False,False,False
177,False,False,False,False,False
178,False,False,False,False,False
179,False,False,False,False,False
180,False,False,False,False,False

<b> Count missing values in each column</b>

In [9]:
for column in missing_data.columns.values.tolist():
    print(column)
    print (missing_data[column].value_counts())
    print("")

REGIONS_DISTRICTS
False    181
Name: REGIONS_DISTRICTS, dtype: int64

HOMICIDES
False    181
Name: HOMICIDES, dtype: int64

ECONOMIC_CRIMES
False    181
Name: ECONOMIC_CRIMES, dtype: int64

SEX_RELATED_OFFENCES
False    181
Name: SEX_RELATED_OFFENCES, dtype: int64

CHILD_RELATED_OFFENCES
False    177
True       4
Name: CHILD_RELATED_OFFENCES, dtype: int64

<b> Deal with missing data</b> Replace the with mean

In [10]:
# Calculate the average of the column
avg_child_loss = df["CHILD_RELATED_OFFENCES"].astype("float").mean(axis=0)
print("Average of CHILD_RELATED_OFFENCES:","{:.0f}".format(avg_child_loss))

Average of CHILD_RELATED_OFFENCES: 131

<b> Replace "NaN" by mean value in "CHILD_RELATED_OFFENCES" column</b>

In [11]:

df["CHILD_RELATED_OFFENCES"].replace(np.nan, "{:.0f}".format(avg_child_loss), inplace=True)

In [12]:
df.head()

,REGIONS_DISTRICTS,HOMICIDES,ECONOMIC_CRIMES,SEX_RELATED_OFFENCES,CHILD_RELATED_OFFENCES
0,C.I.D Headquarters,3,491,13,4.0
1,S.I.D,2,49,1,131
2,Aviation Police,1,47,7,131
3,C.I.D,5,588,21,4.0
4,Jinja Road,20,320,116,9.0

<b> Good! Now, we obtain the dataset with no missing values.</b>

In [13]:
df.dtypes

REGIONS_DISTRICTS         object
HOMICIDES                  int64
ECONOMIC_CRIMES            int64
SEX_RELATED_OFFENCES       int64
CHILD_RELATED_OFFENCES    object
dtype: object

In [14]:
df[["CHILD_RELATED_OFFENCES"]] = df[["CHILD_RELATED_OFFENCES"]].astype("int")

In [15]:
df.dtypes

REGIONS_DISTRICTS         object
HOMICIDES                  int64
ECONOMIC_CRIMES            int64
SEX_RELATED_OFFENCES       int64
CHILD_RELATED_OFFENCES     int32
dtype: object

In [19]:
!pip install geopy

from geopy.geocoders import Nominatim # library to covert address to latitude and longitude

!pip install geocoder
import geocoder

Requirement already satisfied: geopy in c:\users\pc\anaconda3\lib\site-packages (2.3.0)
Requirement already satisfied: geographiclib<3,>=1.52 in c:\users\pc\anaconda3\lib\site-packages (from geopy) (2.0)
Requirement already satisfied: geocoder in c:\users\pc\anaconda3\lib\site-packages (1.38.1)
Requirement already satisfied: click in c:\users\pc\anaconda3\lib\site-packages (from geocoder) (8.0.4)
Requirement already satisfied: future in c:\users\pc\anaconda3\lib\site-packages (from geocoder) (0.18.2)
Requirement already satisfied: six in c:\users\pc\anaconda3\lib\site-packages (from geocoder) (1.16.0)
Requirement already satisfied: ratelim in c:\users\pc\anaconda3\lib\site-packages (from geocoder) (0.1.6)
Requirement already satisfied: requests in c:\users\pc\anaconda3\lib\site-packages (from geocoder) (2.27.1)
Requirement already satisfied: colorama in c:\users\pc\anaconda3\lib\site-packages (from click->geocoder) (0.4.4)
Requirement already satisfied: decorator in c:\users\pc\anaconda3\lib\site-packages (from ratelim->geocoder) (5.1.1)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\pc\anaconda3\lib\site-packages (from requests->geocoder) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\pc\anaconda3\lib\site-packages (from requests->geocoder) (1.26.9)
Requirement already satisfied: idna<4,>=2.5 in c:\users\pc\anaconda3\lib\site-packages (from requests->geocoder) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\pc\anaconda3\lib\site-packages (from requests->geocoder) (2022.9.24)

In [18]:
!pip install geopandas

Collecting geopandas
  Downloading geopandas-0.12.2-py3-none-any.whl (1.1 MB)
Requirement already satisfied: packaging in c:\users\pc\anaconda3\lib\site-packages (from geopandas) (21.3)
Requirement already satisfied: pandas>=1.0.0 in c:\users\pc\anaconda3\lib\site-packages (from geopandas) (1.4.3)
Collecting fiona>=1.8
  Downloading Fiona-1.9.2-cp39-cp39-win_amd64.whl (22.0 MB)
Collecting pyproj>=2.6.1.post1
  Downloading pyproj-3.4.1-cp39-cp39-win_amd64.whl (4.8 MB)
Collecting shapely>=1.7
  Downloading shapely-2.0.1-cp39-cp39-win_amd64.whl (1.4 MB)
Collecting munch>=2.3.2
  Downloading munch-2.5.0-py2.py3-none-any.whl (10 kB)
Requirement already satisfied: attrs>=19.2.0 in c:\users\pc\anaconda3\lib\site-packages (from fiona>=1.8->geopandas) (21.4.0)
Requirement already satisfied: certifi in c:\users\pc\anaconda3\lib\site-packages (from fiona>=1.8->geopandas) (2022.9.24)
Collecting cligj>=0.5
  Downloading cligj-0.7.2-py3-none-any.whl (7.1 kB)
Collecting click-plugins>=1.0
  Downloading click_plugins-1.1.1-py2.py3-none-any.whl (7.5 kB)
Requirement already satisfied: click~=8.0 in c:\users\pc\anaconda3\lib\site-packages (from fiona>=1.8->geopandas) (8.0.4)
Requirement already satisfied: importlib-metadata in c:\users\pc\anaconda3\lib\site-packages (from fiona>=1.8->geopandas) (4.11.3)
Requirement already satisfied: colorama in c:\users\pc\anaconda3\lib\site-packages (from click~=8.0->fiona>=1.8->geopandas) (0.4.4)
Requirement already satisfied: six in c:\users\pc\anaconda3\lib\site-packages (from munch>=2.3.2->fiona>=1.8->geopandas) (1.16.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\pc\anaconda3\lib\site-packages (from pandas>=1.0.0->geopandas) (2021.3)
Requirement already satisfied: numpy>=1.18.5 in c:\users\pc\anaconda3\lib\site-packages (from pandas>=1.0.0->geopandas) (1.21.5)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\pc\anaconda3\lib\site-packages (from pandas>=1.0.0->geopandas) (2.8.2)
Requirement already satisfied: zipp>=0.5 in c:\users\pc\anaconda3\lib\site-packages (from importlib-metadata->fiona>=1.8->geopandas) (3.7.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\pc\anaconda3\lib\site-packages (from packaging->geopandas) (3.0.4)
Installing collected packages: munch, cligj, click-plugins, shapely, pyproj, fiona, geopandas
Successfully installed click-plugins-1.1.1 cligj-0.7.2 fiona-1.9.2 geopandas-0.12.2 munch-2.5.0 pyproj-3.4.1 shapely-2.0.1

<b> Get latitude and longitude for each rows of the dataframe.</b>

In [21]:
def get_latlng(arcgis_geocoder): # defining the function
    
    lat_lng_coords = None # initialising location to None
    
    while(lat_lng_coords is None): # geocode while loop to create latitude and longitude for each rows
        g = geocoder.arcgis('{}, Uganda, Africa'.format(arcgis_geocoder))
        lat_lng_coords = g.latlng
    return lat_lng_coords

<b> Get the latitude and longitude based on Region_district</b>

In [22]:
regions_dist_code = df['REGIONS_DISTRICTS']
coordinates = [get_latlng(regions_dist_code) for regions_dist_code in regions_dist_code.tolist()]

<b> Put the Latitude and Longitude columns in the dataframe and print the first 12 rows.</b>

In [23]:
df_loc = df

df_coordinates = pd.DataFrame(coordinates, columns = ['Latitude', 'Longitude'])

df_loc['Latitude'] = df_coordinates['Latitude']

df_loc['Longitude'] = df_coordinates['Longitude']

df_loc.head(12)

,REGIONS_DISTRICTS,HOMICIDES,ECONOMIC_CRIMES,SEX_RELATED_OFFENCES,CHILD_RELATED_OFFENCES,Latitude,Longitude
0,C.I.D Headquarters,3,491,13,4,53.32941,53.54489
1,S.I.D,2,49,1,131,0.35128,32.53793
2,Aviation Police,1,47,7,131,53.32941,53.54489
3,C.I.D,5,588,21,4,0.35128,32.53793
4,Jinja Road,20,320,116,9,0.32545,32.60655
5,Kira Division,24,178,105,22,0.05128,32.47446
6,Kira Road,30,171,94,46,0.40568,32.64193
7,Mukono,36,283,176,41,0.35825,32.75137
8,Nagalama,19,54,76,10,0.51444,32.75528
9,KMP EAST,129,1007,567,127,0.35128,32.53793
10,CPS Kampala,14,632,10,3,0.35128,32.53793
11,Katwe,58,287,231,468,0.30011,32.58168

<b> Importing the needed libraries</b>

In [24]:
import matplotlib.cm as cm
import matplotlib.colors as colors

import numpy as np

import json # library to handle JSON files
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

from sklearn.cluster import KMeans

!pip -q install folium
print('folium installed...')
import folium # library for map rendering
print('folium imported...')
print('Done')

folium installed...
folium imported...
Done

<b> Using the geopy library to get the latitude and longitude values of Uganda</b>

In [26]:
address = 'Uganda, Africa'

geolocator = Nominatim(user_agent="ln_explorer")

location = geolocator.geocode(address)

latitude = location.latitude

longitude = location.longitude

print('The geographical coordinates of Uganda are {}, {}.'.format(latitude, longitude))

The geographical coordinates of Uganda are 1.2063956, 34.2079667.

<b> Coming up with the map of Uganda with folium </b>

In [28]:
map_uganda = folium.Map(location = [latitude, longitude], zoom_start=12)

map_uganda

<B> Activities </b>

1. Add a Single Marker to the mean location this map - Let the color of the marker be default blue

2. Change the color of the marker drawn in question 1 to Red

3. Chang the Icon on the Marker on a Folium Map in question 2

4. Add Multiple Markers to the Folium Map seen

5. Control Folium Marker Colour by Category of the crimes

<b> Michael Kumakech is an AI, IoT and Data Science Instructor at Makerere University Kampala, Uganda.</b>