<H2> Data Preparation for Analysis and Visulization</h2>

<b> By Michael Kumakech </b>

<h2> Grab the Data from the Web</h2>

<b> Import Packages </b>

In [6]:
import requests
import lxml.html as lh
import pandas as pd

In [7]:
WHO_url = 'https://www.worldometers.info/coronavirus/' #assign the wiki page


page = requests.get(WHO_url) # create a handle to for contents of the wiki page

doc = lh.fromstring(page.content) # store content of the wiki page under doc

tr_elements = doc.xpath('//tr') # parse data stored between tr in the html

[len(T) for T in tr_elements[:12]] # check the length of the first 12

[22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22]

<b> Check the table headers</b>

In [8]:
tr_elements = doc.xpath('//tr') # parse first row as header

col = [] # create empty list
i = 0

for t in tr_elements[0]: # for each row, store each first element (header) and an empty list
    i+=1
    name=t.text_content()
    print("%d:%s" % (i,name))
    col.append((name,[]))

1:#
2:Country,Other
3:TotalCases
4:NewCases
5:TotalDeaths
6:NewDeaths
7:TotalRecovered
8:NewRecovered
9:ActiveCases
10:Serious,Critical
11:TotÂ Cases/1M pop
12:Deaths/1M pop
13:TotalTests
14:Tests/
1M pop

15:Population
16:Continent
17:1 Caseevery X ppl
18:1 Deathevery X ppl
19:1 Testevery X ppl
20:New Cases/1M pop
21:New Deaths/1M pop
22:Active Cases/1M pop

<b> Check the data in other Row</b>

In [9]:
for j in range(1,len(tr_elements)): # Because header is the first row, data would be store in the subsequent rows.
    T = tr_elements[j] #T is j'th row
    
    if len(T)!=22: #if row is not size 3, //tr data is not from the table.
        break
        
    i = 0 #i is the index of the first column
    
    for t in T.iterchildren(): #iterate through each element of the row
        data=t.text_content()
            
        col[i][1].append(data) #append the data to the empty list of the i'th column
            
        i+=1 #increment i for the next column

<b> What about the numbers of rows and columns</b>

In [10]:
[len(C) for (title,C) in col]

[740,
 740,
 740,
 740,
 740,
 740,
 740,
 740,
 740,
 740,
 740,
 740,
 740,
 740,
 740,
 740,
 740,
 740,
 740,
 740,
 740,
 740]

<b>Displays the data frame with three columns.</b>

In [11]:
Dict = {title:column for (title,column) in col}
df = pd.DataFrame(Dict)

In [12]:
df.head()

,#,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",...,TotalTests,Tests/\n1M pop\n,Population,Continent,1 Caseevery X ppl,1 Deathevery X ppl,1 Testevery X ppl,New Cases/1M pop,New Deaths/1M pop,Active Cases/1M pop
0,,\nNorth America\n,"104,765,187","+17,432","1,485,358",+42,"98,326,531","+6,049","4,953,298","8,485",...,,,,North America,\n,,,,,
1,,\nAsia\n,"160,565,835","+82,041","1,438,137",+210,"154,898,276","+106,844","4,229,422","10,373",...,,,,Asia,\n,,,,,
2,,\nSouth America\n,"59,257,978","+1,186","1,303,714",,"56,155,527","+6,595","1,798,737","10,363",...,,,,South America,\n,,,,,
3,,\nEurope\n,"201,834,653","+15,872","1,852,941",+69,"193,228,315","+32,120","6,753,397","5,863",...,,,,Europe,\n,,,,,
4,,\nOceania\n,"9,604,626","+32,313","13,780",+66,"9,246,682","+4,543","344,164",136,...,,,,Australia/Oceania,\n,,,,,

<h2> Clean the Data set <h2>

<b> 1. Remove the Special Characters such as + and , in the records</b>

In [29]:
# Write your codes here

 2. Delete columns that few records :<b> NewCases, NewDeaths, and  NewRecovered </b>

In [30]:
df1 =df.drop(columns = ['NewCases','NewDeaths','NewRecovered'])
df1.head()

,#,"Country,Other",TotalCases,TotalDeaths,TotalRecovered,ActiveCases,"Serious,Critical",TotÂ Cases/1M pop,Deaths/1M pop,TotalTests,Tests/\n1M pop\n,Population,Continent,1 Caseevery X ppl,1 Deathevery X ppl,1 Testevery X ppl,New Cases/1M pop,New Deaths/1M pop,Active Cases/1M pop
0,,\nNorth America\n,"104,765,187","1,485,358","98,326,531","4,953,298","8,485",,,,,,North America,\n,,,,,
1,,\nAsia\n,"160,565,835","1,438,137","154,898,276","4,229,422","10,373",,,,,,Asia,\n,,,,,
2,,\nSouth America\n,"59,257,978","1,303,714","56,155,527","1,798,737","10,363",,,,,,South America,\n,,,,,
3,,\nEurope\n,"201,834,653","1,852,941","193,228,315","6,753,397","5,863",,,,,,Europe,\n,,,,,
4,,\nOceania\n,"9,604,626","13,780","9,246,682","344,164",136,,,,,,Australia/Oceania,\n,,,,,

3. Delete Row(s) that are not relevant  Eg:<b> Total </b>

In [25]:
#START YOU CODE HERE!

In [26]:
# Write one line of code to check the first 6 last records

<b> 4. Change the column headings that are long to short meaninful headings </b>

In [31]:
df2 = df1.rename(columns = {'Deaths/1M pop': 'TotCasePer1M','Deaths/1M pop':'DeathsPer1M','Tests/\n1M pop\n': 'TestPer1MPop'})
df2.head()

,#,"Country,Other",TotalCases,TotalDeaths,TotalRecovered,ActiveCases,"Serious,Critical",TotÂ Cases/1M pop,DeathsPer1M,TotalTests,TestPer1MPop,Population,Continent,1 Caseevery X ppl,1 Deathevery X ppl,1 Testevery X ppl,New Cases/1M pop,New Deaths/1M pop,Active Cases/1M pop
0,,\nNorth America\n,"104,765,187","1,485,358","98,326,531","4,953,298","8,485",,,,,,North America,\n,,,,,
1,,\nAsia\n,"160,565,835","1,438,137","154,898,276","4,229,422","10,373",,,,,,Asia,\n,,,,,
2,,\nSouth America\n,"59,257,978","1,303,714","56,155,527","1,798,737","10,363",,,,,,South America,\n,,,,,
3,,\nEurope\n,"201,834,653","1,852,941","193,228,315","6,753,397","5,863",,,,,,Europe,\n,,,,,
4,,\nOceania\n,"9,604,626","13,780","9,246,682","344,164",136,,,,,,Australia/Oceania,\n,,,,,

5.Change the column heading<b> Tot Cases/1M pop</b> to <b> TotCasesP1M</b>

In [ ]:
# Write your Code Here

In [28]:
# check the data types
df2.dtypes

#                      object
Country,Other          object
TotalCases             object
TotalDeaths            object
TotalRecovered         object
ActiveCases            object
Serious,Critical       object
TotÂ Cases/1M pop       object
DeathsPer1M            object
TotalTests             object
TestPer1MPop           object
Population             object
Continent              object
1 Caseevery X ppl      object
1 Deathevery X ppl     object
1 Testevery X ppl      object
New Cases/1M pop       object
New Deaths/1M pop      object
Active Cases/1M pop    object
dtype: object

<b> 6.Since you are dealing with People, convert the numeric data types to int</b>

In [ ]:
# Write your Code Here to cover from TotalCases to 'Population'

<b> 7. Replace recodes  N/A with Average values</b>

In [ ]:
# Write your codes here

<b> 8. Compute the descriptive statistics for the records in the data set </b>

In [32]:
# Write ONE line of code Here!

<b>9. Compute the Correlations between the features</b>

In [33]:
# Write ONE line of Code Here!

<b> 10. What is your Remarks? </b>

<h2> Thank you for completing this notebook</h2>

<h2> About the Author:</h2>

This notebook was written by Michael Kumakech. Michael Kumakech is an instructor at Makerere University, College of Computing and Information Sciences in Uganda, and holds a Professional Certificate in IBM Data Science, a MSc in Data Communication and Software Engineering. His research focused on using Machine Learning, Signal Processing, and Computer Vision to determine how videos impact human cognition. Michael has been working as instructor  at Makerere University, College of Computing and Information Sciencessince 2007.